<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobiluygulama">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilUygulama"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--*************************************************************************************-->
        <!--******************************* ANASAYFA UYGULAMALAR ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".Unite1" android:label="@string/unite1"></activity>
        <activity android:name=".Unite2" android:label="@string/unite2"></activity>
        <activity android:name=".Unite3" android:label="@string/unite3"></activity>
        <activity android:name=".Unite4" android:label="@string/unite4"></activity>
        <activity android:name=".Unite5" android:label="@string/unite5"></activity>
        <activity android:name=".Unite6" android:label="@string/unite6"></activity>
        <activity android:name=".Unite7" android:label="@string/unite7"></activity>
        <activity android:name=".Unite8" android:label="@string/unite8"></activity>
        <activity android:name=".Unite9" android:label="@string/unite9"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 1 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite1.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite1.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>


        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 2 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite2.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite2.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite2.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite2.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite2.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite2.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite2.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite2.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite2.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite2.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 3 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite3.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite3.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite3.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite3.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite3.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite3.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite3.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite3.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite3.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite3.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>
        <activity android:name=".unite3.uyg11.Uyg11" android:label="@string/u5_uyg11"></activity>
        <activity android:name=".unite3.uyg12.Uyg12" android:label="@string/u5_uyg12"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 4 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite4.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite4.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite4.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite4.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite4.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite4.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite4.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite4.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite4.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite4.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 5 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite5.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite5.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite5.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite5.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite5.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite5.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite5.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite5.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite5.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite5.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>
        <activity android:name=".unite5.uyg11.Uyg11" android:label="@string/u5_uyg11"></activity>
        <activity android:name=".unite5.uyg12.Uyg12" android:label="@string/u5_uyg12"></activity>
        <activity android:name=".unite5.uyg13.Uyg13" android:label="@string/u5_uyg13"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 6 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite6.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite6.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite6.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite6.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite6.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite6.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite6.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite6.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite6.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite6.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>

        <!--*************************************************************************************-->
        <!--******************************* ÜNİTE 7 UYGULAMALARI ********************************-->
        <!--*************************************************************************************-->
        <activity android:name=".unite7.uyg1.Uyg1" android:label="@string/u5_uyg1"></activity>
        <activity android:name=".unite7.uyg2.Uyg2" android:label="@string/u5_uyg2"></activity>
        <activity android:name=".unite7.uyg3.Uyg3" android:label="@string/u5_uyg3"></activity>
        <activity android:name=".unite7.uyg4.Uyg4" android:label="@string/u5_uyg4"></activity>
        <activity android:name=".unite7.uyg5.Uyg5" android:label="@string/u5_uyg5"></activity>
        <activity android:name=".unite7.uyg6.Uyg6" android:label="@string/u5_uyg6"></activity>
        <activity android:name=".unite7.uyg7.Uyg7" android:label="@string/u5_uyg7"></activity>
        <activity android:name=".unite7.uyg8.Uyg8" android:label="@string/u5_uyg8"></activity>
        <activity android:name=".unite7.uyg9.Uyg9" android:label="@string/u5_uyg9"></activity>
        <activity android:name=".unite7.uyg10.Uyg10" android:label="@string/u5_uyg10"></activity>
        <activity android:name=".unite7.uyg11.Uyg11" android:label="@string/u5_uyg11"></activity>
        <activity android:name=".unite7.uyg12.Uyg12" android:label="@string/u5_uyg12"></activity>
        <activity android:name=".unite7.uyg13.Uyg13" android:label="@string/u5_uyg13"></activity>

    </application>

</manifest>